server_port: 8080 # keep in sync with ui/.env VITE_BACKEND_PORT
frontend_port: 4000 # keep in sync with ui/.env PORT
database: lastly-likes.db
secret: "some secret string you come up with, either 16, 24 or 32 bytes long (AES-128, AES-192 or AES-256)"
lastfm:
  api_key: "your Last.fm API key here"
  shared_secret: "your Last.fm shared secret here"
spotify:
  client_id: "your Spotify API app client ID here"
  client_secret: "your Spotify API app client secret here"
